body {

  nav{ 
   
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 60px;

    #logo-container{
    //  background-color: red;
  
      .logo{
        font-family: 'Pacifico', cursive;
        color: white;
        font-size: 22pt;
        &:hover{
          color: #f3f3f3;
        }

      }
  
    }
  }
}
